################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/Logs
/MacBuild.app/Contents
/MichaelRouthBallGameWindows
/obj/Debug
/Temp
/UserSettings
/MichaelRouthArcadeGameSubmission
Assembly-CSharp.csproj
MichaelRouthArcadeGameSubmission.zip
/BallGameWebGLBuild
*.csproj
Assembly-CSharp.csproj
